* { 
    margin-top: 5px;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(./background-image.png);
    text-align: center;
    color: aliceblue;
}

header {
    background: rgb(34, 117, 116);
    padding-top: 10px;
    padding-bottom:4px;
}

label {
    display: inline-block;
    font-weight: bold;
    padding: 10px;
    color: rgb(rgb(62, 112, 204), rgb(137, 171, 51), rgb(103, 26, 70));
    font-size: 35px;
    margin: 30px 30px 30px 30px;
}

input {
    border: none;
    font-size: 20px;
    height: 40px;
    padding: 10px;
    background-color: burlywood;
}

section button {
    padding: 5px 7px;
    margin: 15px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: var(rgb(102, 53, 53));
}

footer {
    margin-top: 230px;
    
}

footer a {
    color: beige;
}

